   .page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
  }
  

   .formBox {
    background-color: #00333e; 
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25); 
    width: 360px;
    color: #fff; 
  }

  h2 {
    margin-bottom: 1rem;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  .signupSide {
    display: flex;

    .link {
      margin: 0 0.5rem;
      color: #f3e3e2;
      text-decoration: none;
      font-weight: bold;
      font-size: 1rem;
      cursor: pointer;
      transition: color 0.3s ease;
    }

    .link:hover {
      color: #c92052;
    }
  }
  
  .error {
    color: #ffaaaa;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }
  
