.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001f26;
    padding: 2rem;
    text-align: center;
  }
  
  .image {
    width: 60%;
    max-width: 90%;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border: 4px solid #710133;
    margin-bottom: 1.5rem;
  }
  
  .text {
    color: #f3e3e2;
    font-size: 1.8rem;
  }
  