.homeContainer {
    color: black;
    text-align: center;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .homeContainer h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .homeContainer .brand {
    color: #710133; 
  }
  
  .homeContainer p {
    font-size: 1.1rem;
    margin: 0.4rem 0;
  }
  
  .subtext {
    color: #3e1c10; 
    font-size: 0.95rem;
    margin-top: 1rem;
  }

  .title {
    font-size: 1.5rem;
    color: black;
    padding-left: 2rem;
  }

  .cards {
    padding-left: 2rem;
  }

  .buttonArea {
    padding: 1rem 2rem;
  }
  