.customButton {
    margin: 1rem auto 1rem;
    padding: 0.8rem 2rem;
    background-color: #710133;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: var(--font-main);;
  }
  
  .customButton:hover {
    background-color: #5a002a; 
  }

  .customButton .active {
    background-color: #5a002a; 
  }
  