body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f3e3e2;
  color: black;
}

/* Color - pallettes 
Midnight blue - #1b2e3c
Dark blue - #0c0c1e
Rose red - #74112f
Rose quartz - #f3e3e2
*/