.page {
    padding-left: 2rem;
  }
  
  .info h1 {
    margin-bottom: 0.5rem;
    color: black;
  }
  
  .info p {
    color: black;
    margin: 0.5rem 0;
    font-size: large;
  }

  .buttonArea {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }

  .divider {
    border: none;
    border-top: 2px solid #00424e;
    margin-right: 2rem;   
  }

  